@tailwind base;
@tailwind components;
@tailwind utilities;

.opportunities {
    width: 80%;
    margin: 0 auto;
}

.opportunities__addButton {
    width: 100%;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
}