* {
  margin: 0;
}

/* Add a black background color to the top navigation */
.topnav {
  background: #23AE00;
  overflow: hidden;
  transition: background 0.4s;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(87, 179, 64, 0.8);
}

/* Add an active class to highlight the current page */


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}