@tailwind base;
@tailwind components;
@tailwind utilities;


.opportunityItem {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.opportunityItem>img {
    width: 200px;
}

.activityInfo {}