@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2;
}

.loginSignupForm {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    min-height: 50%;

    z-index: 3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginSignupForm__buttons {
    margin-bottom: 2rem;
}

.loginSignupForm__buttons>button {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.login__button {
    background: rgba(35, 174, 0, 1);
    border: none;
    color: white;
    transition: background 0.4s;
}

.login__button:hover {
    background-color: rgb(41, 193, 3);
}

.signup__button {
    background: white;
    border: 1px solid rgba(35, 174, 0, 1);
    color: rgba(35, 174, 0, 1);
}

.signup__button:hover {
    background-color: rgba(35, 174, 0, 0.2);
}

.login__forms>input {
    border: none;
    border-bottom: 1px solid rgba(35, 174, 0, 1);
    color: rgba(35, 174, 0, 1);
    width: 35vw;
}


.login__forms>input:focus {
    outline: none;
}

.login__forms>p {
    font-size: 15px;
    color: rgba(35, 174, 0, 1);
}

.login__forms>button {
    width: 100%;
    background-color: rgba(35, 174, 0, 1);
    color: white;
}